{{ define "adminHeader"}}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/static/assets/CSS/adminStyle.css">
	<title>{{ .Title }}</title>
</head>
<body>
		{{ $admin := .User}}
		<div class="welcome">
			<p>Hello {{ $admin.Firstname }}, welcome to admin section</p>
			{{ if ne .Title "profiles"}}
			<a href="/admin/profiles" class="navLink">profiles</a>
			{{ end }}
			{{ if ne .Title "tasks"}}
			<a href="/admin/tasks" class="navLink">tasks</a>
			{{ end }}
			{{ if ne .Title "competitions"}}
			<a href="/admin/competitions" class="navLink">competitions</a>
			{{ end }}
			{{ if ne .Title "admin"}}
			<a href="/admin" class="navLink">Admin Home</a>
			{{ end }}
			<a href="/login?do=logout">Log Out</a>
		</div>
	</header>

{{ end }}
	
