{{ define "info" }}

{{ template "adminHeader" . }}
	<div class="content infoContainer">
		<h2 class="pageTitle">INFOS</h2>
		<div class="infoList">
			{{ $infos := .Infos}}
			{{ if ne (len $infos) 0 }}
			{{ range $i := $infos }}
			<div class="infos">
				<a href="/admin/info?do=edit&info={{ $i.InfoID }}" class="infoLink">{{ $i.InfoTitle}} {{ $i.InfoDte.Format "02-01-06"}}</a>
				<a href="/admin/info?do=del&info={{ $i.InfoID }}" class="delInfoLink">delete</a>
			</div>
			{{ end }}
			{{ else }}
			<p>No infos to show</p>
			{{ end }}
			<a href="/admin/info?do=new" class="btn btnInfo">NEW INFO</a>
		</div>
	</div>
{{ template "adminFooter" . }}

{{ end }}