{{ define "profiles"}}

{{ template "adminHeader" . }}
	<div class="memberProfile">
		<h1>PROFILES</h1>
		<div class="searchSelector">
			<form action="/admin/profiles?do=search" method="POST">
				<label for="userSelector">Select : </label>
				<input name="userSelector" type="radio" value="list">from the list
				<select name="userRow">
					<option >select user</option>
						{{ range $list := .UserList }}	
								{{ $id := $list.UserID}}
								<option value="{{ $id }}">
									{{ $list.Name }} 
									{{ $list.Firstname }} 
									{{ $list.Rank }} 
								 	
								</option>
						{{ end }}
				</select>
				<input name="userSelector" type="radio" value="rank"> by rank
				<select name="belt">
					{{ range $belt := .BeltList}}
						<option value="{{ $belt }}">{{ $belt }}</option>
					{{ end }}
				</select>
				<button type="submit" >Search</button>
			</form>
		</div>

		<div class="rankByList">
			{{ range $pList := .ListByParam}}
			<a href="/admin/profiles?do=update&n={{ $pList.UserID }}"> 
				{{ $pList.Rank }}
				{{ $pList.Name}}
				{{ $pList.Firstname}} 
				{{ if eq $pList.MedCert false}}
				no certificate
				{{ else }}
				certificate ok 
				{{ end }}
				{{ $pList.Licence}}
				group: {{ $pList.Role }}
			</a><br>
			{{ end }}
		</div>

		{{if ne .UserProfile.UserID 0}}
		<div class="profile">
			{{ $profile := .UserProfile }}
			<a href="/admin/profiles?do=update&n={{ $profile.UserID }}">
				{{ $profile.Rank }} 
				{{ $profile.Name}}
				{{ $profile.Firstname}} 
				{{ if eq $profile.MedCert false}}
				no certificate
				{{ else }}
				certificate ok 
				{{ end }}
				{{ $profile.Licence}}</a>
		</div>
		{{ end }}
	
{{ template "adminFooter" . }}

{{ end }}