{{ define "profilesEdit"}}

{{ template "adminHeader" . }}
{{ $data := .User}}
<div class="userEdit">
		<form action="/admin/adminedit?do=update&q={{$data.UserID}}" method="POST">

			<label for="name">NOM</label>
			<input name="name" type="text" value="{{ $data.Name }}" required>
	
			<label for="firstname">PRENOM</label>
			<input name="firstname" type="text" value="{{ $data.Firstname }}" required>

			<label for="group">Group</label>
			<input name="group" type="text" value="{{ $data.Role }}" required>

			<label for="entryDate">Année d'inscription au club</label>
			<input name="entryDate" type="number" value="{{ $data.EntryDate }}" required>

			<label for="belt">Ceinture</label>
			<select name="belt">
					<option value="{{ $data.Rank }}">{{ $data.Rank }}</option>
				{{ range $belt := .BeltList}}
					<option value="{{ $belt }}">{{ $belt }}</option>
				{{ end }}
			</select>

			<label for="rankObtained">Année d'obtention de la ceinture</label>
			<input name="rankObtained" type="number" value="{{ $data.RankObtained }}" required>
			
			<label for="medCert">Certificat Médical</label>
			{{if eq false $data.MedCert}}
			<input type="radio" name="medCert" value="false" checked>non fourni<br>
			{{ else }}
			<input type="radio" name="medCert" value="false">non fourni<br>
			{{ end }}
			{{if eq true $data.MedCert}}
			<input type="radio" name="medCert" value="true" checked>fourni<br>
			{{ else }}
			<input type="radio" name="medCert" value="true">fourni<br>
			{{ end }}

			<label for="licence">licence</label>
			<input name="licence" type="text" value="{{ $data.Licence }}" required>

			<button type="submit">Modifier</button>
		</form>
	</div>
	
{{ template "adminFooter" . }}

{{ end }}