{{ define "editProfile"}}

{{ template "header" . }}
	{{ $member := .User}}
	<div class="userEdit">
			<form action="/profile/edituser?do=upd&q={{$member.UserID}}" method="POST">
	
				<label for="name">NOM</label>
				<input name="name" type="text" value="{{ $member.Name }}" required>
		
				<label for="firstname">PRENOM</label>
				<input name="firstname" type="text" value="{{ $member.Firstname }}" required>

				<label for="entryDate">Année d'inscription au club</label>
				<input name="entryDate" type="number" value="{{ $member.EntryDate }}" required>
	
				<label for="belt">Ceinture</label>
				<select name="belt">
						<option value="{{ $member.Rank }}">{{ $member.Rank }}</option>
					{{ range $belt := .BeltList}}
						<option value="{{ $belt }}">{{ $belt }}</option>
					{{ end }}
				</select>

				<label for="rankObtained">Année d'obtention de la ceinture</label>
				<input name="rankObtained" type="number" value="{{ $member.RankObtained }}" required>
				
				<label for="medCert">Certificat Médical</label>
				{{if eq false $member.MedCert}}
				<input type="radio" name="medCert" value="false" checked>non fourni<br>
				{{ else }}
				<input type="radio" name="medCert" value="false">non fourni<br>
				{{ end }}
				{{if eq true $member.MedCert}}
				<input type="radio" name="medCert" value="true" checked>fourni<br>
				{{ else }}
				<input type="radio" name="medCert" value="true">fourni<br>
				{{ end }}
	
				<label for="licence">licence</label>
				<input name="licence" type="text" value="{{ $member.Licence }}" required>
	
				<button type="submit">Modifier</button>
			</form>
		</div>
{{ template "footer" . }}

{{ end }}