{{ define "header" }}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title id="pageTitle">{{ .Title }}</title>
</head>
<body>
	<div class="wrapper">
		<header>
			<h1>Club Manager</h1>
			<nav>
				<a href="/register" class="nav-links" id="register">Register</a>
				<a href="/login" class="nav-links" id="login">Login</a>
				<a href="/login?do=logout" id="logout">Logout</a>
				<a href="/home" class="nav-links" id="home">Home</a>
			</nav>
		</header>
	
{{ end }}