{{ define "login"}}

{{ template "header" . }}
{{if eq .Message "" }}
		<div class="error">{{.Message}}</div>
	{{ end }}
{{if ne .UserErr "" }}
		<div class="error">{{.UserErr}}</div>
	{{ end }}
	<div class="content login">
		<form action="/login?do=login" method="POST" class="form loginForm">
			<label for="identifier">Email</label>
			<input name="identifier" type="text" required>
			<br>
			<label for="password">Mot de Passe</label>
			<input name="password" type="password" required>
			<br>
			<button type="submit"  class="btn btnLogin">CONNEXION</button>
		</form>
	</div>
{{ template "footer" . }}

{{ end }}