{{ define "profile"}}

{{ template "header" . }}
	{{ $member := .User}}
	<div class="content profile">
		<table class="tblProfile">
			<thead>
				<tr><th colspan="2"> {{ $member.Firstname }} {{ $member.Name }} </th></tr>
			</thead>
			<tbody>
				<tr>
					<td class="belt tdLabel">Ceinture </td>
					<td class="beltColor tdValue">{{ $member.Rank }}</td>
				</tr>
				<tr>
					<td class="rankObtained tdLabel">Année d'obtention </td>
					<td class="rankObtained tdValue">{{ $member.RankObtained}}</td>
				</tr>
				<tr>
					<td class="licence tdLabel">Numéro de licence</td>
					<td class="licenceNumber tdValue">{{ $member.Licence }}</td>
				</tr>
				<tr>
					<td class="cert tdLabel">Certificat Médical</td>
					{{ if eq $member.MedCert false}}
					<td class="certBool tdValue">Non fourni</td>
					{{ else }}
					<td class="certBool tdValue">Fourni</td>
					{{ end }}
				</tr>
				<tr>
					<td class="inscription tdLabel">Année d'inscription</td>
					<td class="inscriptionYear tdValue">{{ $member.EntryDate }}</td>
				</tr>
			</tbody>
		</table>
		<a href="/profile/user?do=edit" class="btn btnEdit">EDITER</a>
	</div>
{{ template "footer" . }}

{{ end }}