{{ define "register"}}

{{ template "header" . }}
	{{if ne .UserErr "" }}
		<div class="error">{{.UserErr}}</div>
	{{ end }}
	<div class="register">
		<form action="/register" method="POST">
			<label for="passphrase">Clé</label>
			<input name="passphrase" type="text" required>

			<label for="lastname">Nom</label>
			<input name="lastname" type="text" required>
	
			<label for="firstname">Prénom</label>
			<input name="firstname" type="text" required>

			<label for="belt">Ceinture</label>
			<select name="belt">
				{{ range $belt := .BeltList}}
					<option value="{{ $belt }}">{{ $belt }}</option>
				{{ end }}
				  </select>

			<label for="email">Email</label>
			<input name="email" type="email" required>

			<label for="password">Mot de Passe</label>
			<input name="password" type="password" required>

			<label for="confirmpassword">Confirmez le Mot De Passe</label>
			<input name="confirmpassword" type="password" required>

			<button type="submit">S'enregistrer</button>
		</form>
	</div>
{{ template "footer" . }}

{{ end }}